[Desktop Entry]
Type=Application
Name=TypeBeat
GenericName=Video Creator
Comment=Combine visuals with audio to create videos
Exec=TypeBeat %F
Icon=TypeBeat
Terminal=false
Categories=AudioVideo;Video;AudioVideoEditing;
Keywords=video;audio;ffmpeg;render;
StartupNotify=true
MimeType=video/*;audio/*;image/*;
